.fighterSelectorInput {
  display: flex;
  flex-direction: column;

  .fighterSelector {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;

    .fighterIcon {
      margin: 2px;
    }

    .fighterButton {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }

    .fighterButton:hover {
      opacity: 0.7;
    }

    .fighterName {
      font-size: 12px;
      margin-top: 4px;
    }
  }
}
