rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function requestData() {
      return request.resource.data;
    }
    function isSignedIn() {
      return request.auth.uid != null;
    }
    function isUser(userId) {
      return request.auth.uid == userId;
    }

    function isValidProfileSchema(requestData) {
      return requestData.size() == 13
        && 'createdAt' in requestData && requestData.createdAt is timestamp
        && 'displayName' in requestData && requestData.displayName is string
        && 'friendCode' in requestData && requestData.friendCode is string
        && 'isPrivateProfile' in requestData && requestData.isPrivateProfile is bool
        && 'mainFighter' in requestData && requestData.mainFighter is string
        && 'mainPlayingTime' in requestData && requestData.mainPlayingTime is string
        && 'profileImageUrl' in requestData && requestData.profileImageUrl is string
        && 'selfIntroduction' in requestData && requestData.selfIntroduction is string
        && 'smashMateMaxRating' in requestData && (requestData.smashMateMaxRating is number || requestData.smashMateMaxRating == null)
        && 'updatedAt' in requestData && requestData.updatedAt is timestamp
        && 'username' in requestData && requestData.username is string
        && 'voiceChat' in requestData && requestData.voiceChat is map
        && 'xId' in requestData && requestData.xId is string;
    }

    function isValidPublicMatchSchema(requestData) {
      return requestData.size() == 12
        && 'createdAt' in requestData && requestData.createdAt is timestamp
        && 'isContinuedMatch' in requestData && requestData.isContinuedMatch is bool
        && 'isElite' in requestData && requestData.isElite is bool
        && 'globalSmashPower' in requestData && (requestData.globalSmashPower is number || requestData.globalSmashPower == null)
        && 'myFighterId' in requestData && requestData.myFighterId is string
        && 'myFighterName' in requestData && requestData.myFighterName is string
        && 'opponentFighterId' in requestData && requestData.opponentFighterId is string
        && 'opponentFighterName' in requestData && requestData.opponentFighterName is string
        && 'result' in requestData && requestData.result is string
        && 'stage' in requestData && (requestData.stage is string || requestData.stage == null)
        && 'updatedAt' in requestData && requestData.updatedAt is timestamp
        && 'userId' in requestData && requestData.userId is string;
    }

    function isValidUserSchema(requestData) {
      return requestData.size() == 3
        && 'createdAt' in requestData && requestData.createdAt is timestamp
        && 'email' in requestData && requestData.email is string
        && 'updatedAt' in requestData && requestData.updatedAt is timestamp;
    }

    match /profiles/{profileId} {
      allow read;
      allow create: if isSignedIn() && isUser(profileId) && isValidProfileSchema(requestData());
      allow update: if isSignedIn() && isUser(profileId) && isValidProfileSchema(requestData());
    }

    match /publicMatches/{publicMatchId} {
      allow read;
      allow create: if isSignedIn() && isUser(requestData().userId) && isValidPublicMatchSchema(requestData());
      allow update: if isSignedIn() && isUser(requestData().userId) && isValidPublicMatchSchema(requestData());
      allow delete: if isSignedIn() && isUser(requestData().userId);
    }

    match /users/{userId} {
      allow read;
      allow create: if isSignedIn() && isUser(userId) && isValidUserSchema(requestData());
      allow update: if isSignedIn() && isUser(userId) && isValidUserSchema(requestData());

      match /matchUpResults/{matchUpResultId} {
        allow read: if isSignedIn() && isUser(userId);
      }
    }
  }
}