.matchListCard {
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid var(--color-gray300);
  display: flex;
  justify-content: center;

  .matchListCardContent {
    width: 100%;
    max-width: 320px;

    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 100px 80px 100px 100px;
    gap: 8px;

    &:last-child {
      border-bottom: none;
    }

    .result {
      justify-self: center;
    }
  }
}
