.matchUpResultCard {
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid var(--color-gray300);
  display: flex;
  justify-content: center;

  .matchUpResultCardContent {
    width: 100%;

    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-areas: myFighter opponentFighter result rate;
    grid-template-columns: 80px 80px 120px 60px;
    gap: 8px;

    .result {
      justify-self: flex-end;
    }

    .rate {
      justify-self: flex-end;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
