.matchListSummary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid var(--color-primary);

  .resultWin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }

  .resultLose {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }

  .count {
    padding-bottom: 4px;
    font-size: 32px;
    font-weight: 700;
    color: var(--color-gray600);
  }
}
