.displayItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  .label {
    font-size: 12px;
    color: var(--color-text-gray);
  }

  .value {
    font-size: 16px;
    color: var(--color-text-black);
  }

  .unit {
    margin-left: 2px;
    font-size: 16px;
    color: var(--color-text-black);
  }
}
