.bottomFooter {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--color-gray200);
  background-color: var(--color-white);
  padding: 12px 8px 10px;
}

.navigationItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  position: relative;
  color: var(--color-gray600);
  width: 100%;

  .label {
    font-size: 11px;
    font-weight: bold;
  }

  .disabled {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    opacity: 0.7;

    .comingSoon {
      margin-top: 8px;
      color: var(--color-black);
      font-size: 10px;
      font-weight: bold;
      text-align: center;
    }
  }
}
