.fixedHeader {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  align-items: center;
  background-color: var(--color-primary);
  padding: 8px 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

  .leftIcon {
    display: flex;
    justify-content: flex-start;
    padding-left: 12px;
  }

  .title {
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
    text-align: center;
    color: var(--color-text-white);
  }

  .rightIcon {
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
  }
}
