.newContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 40px;
  background-color: var(--color-white);
  margin-bottom: 80px;

  .hero {
    padding: 16px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .heroTexts {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 60px;
      gap: 8px;
    }

    .heroImage {
      width: 160px;
      height: auto;
    }
  }

  .section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
    padding: 16px;

    .sectionImage {
      width: 180px;
      height: auto;
    }

    .sectionTexts {
      width: 280px;
    }
  }
}
