.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 120px;

  .texts {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
  }

  .action {
    margin-top: 24px;
  }
}
