.fileInputWithCropper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .texts {
    margin-bottom: 6px;

    .description {
      font-size: 12px;
      line-height: 1;
      color: var(--color-description);
    }
  }

  .dropzone {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .error {
    font-size: 13px;
    line-height: 1.5;
    color: #f5222d;
  }

  .imagePreview {
    position: relative;
    width: 120px;
    height: 120px;

    .image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
