.matchListHeader {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--color-gray50);
  display: flex;
  justify-content: center;

  .matchListHeaderContent {
    width: 100%;
    max-width: 320px;

    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 100px 80px 100px 100px;
    gap: 8px;
  }
}
