.editMatchForm {
  display: flex;
  flex-direction: column;

  .editMatchFormContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: calc(100vh - 140px);
    overflow-y: auto;
    padding-bottom: 40px;
    margin-bottom: 12px;

    .editMatchFormDetails {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  .editMatchFormFooter {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    position: relative;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: -50px;
      left: 0;
      width: 100%;
      height: 40px;
      background: linear-gradient(to bottom, transparent, var(--color-white));
      z-index: 1;
    }
  }
}
